<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>chefboard</title>
  <link href="../../../assets/stylesheets/login.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="login-template">
    <h1>welcome to chefboard.</h1>

    <a href="/auth/facebook">
      <div class="fb-button-div">
      </div>
      <p>facebook button</p>
    </a>
  </div>


</body>
</html>