body, html{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: 'Vollkorn', serif;
  font-variant: small-caps;
}

.main-container {
  width: 100%;
  height: 100%;
  /*background-color: yellow;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding-top: 0px
}


/*HEADER***********************************/

.main-header{
  background-color: #282828 ;
  width: 100%;
  position: fixed;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  z-index: 1030;
  margin-top: -45px;
  height: 100px;
}

.logo {
  margin-left: 2%;
  margin-top: 60px;
  float: left;
  font-size: 1.5em;
  font-variant: normal;
  /*background-color: yellow;*/
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font: serif;
  letter-spacing: 3px;
  font-weight: 200;
}

.masthead-nav {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 40px 1% 0 0;
  /*background-color: red;*/
  padding: 0;
}

.masthead-nav > li {
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 10px;
  /*background-color: yellow;*/
  margin-top: 0px;
}
.search-bar {
  /*background-color: green;*/
  margin: 10px 0 0 0;
}

.search-text {
  width: 300px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 7px 0 5px 5px;
  font-size: 1em;
}

.masthead-nav li a {
  /*background-color: yellow;*/
  text-decoration: none;
  color: white;
  font-size: 1em;
  font: serif;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
}
.masthead-nav li a:hover {
  color: white;
  /*text-decoration: underline;*/
}
/*.logout h2 {
  color: white;
  font-size: 1em;
  font-weight: 200;
}*/



/*OVERALL WRAP FOR NON-HEADER***************/
.wrap {
  /*background-color: blue;*/
  /*padding: 30px;*/
  width: 100%;
  position: relative;
  z-index:5;
  overflow:auto;
}

.sidebar {
  /*background-color: red;*/
  float: left;
  width: 13%;
  position: fixed;
  overflow: hidden;
  color: white;
  margin-left: -1%;
  /*margin-top: 10%;*/
  margin-top: 10px;
  /*min-height: 1px;*/
  padding-left: 15px;
  padding-right: 15px;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.sidebar-list {
  list-style: none;
  width: 89%;
  /*border-top: 1px solid black;
  border-right: 1px solid black;*/
  margin-left: -10px;
  text-align: center;
}

.sidebar-list li {
  text-align: center;
  /*background-color: green;*/
  margin-left: -50px;
  /*border-bottom: 1px solid black;*/
  border-radius: 2px;
  padding-right: 0px;
  margin-top: 0px;
  padding: 10px 0px 10px 15px;
}

.sidebar-list li a {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: -10px;
  height: 100%;
  display: block;
}

.sidebar ul li:hover {
  background-color: #282828;
  border-radius: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar ul li:hover a {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: -10px;
}

.new-pin-button{
  text-align: center;
  background-color: #008A2E;
  margin-left: 30px;
  margin-right: auto;
  border: 1px solid #008A2E;
  margin-top: 5px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.new-pin-input {
  width: 150px;
  margin-left: 8px;
  color: black;
}

.category-dropdown {
  color: black;
}

/*MAIN CONTENT****************/
.content {
    overflow:auto;
    margin-left: 15%;
    margin-right: 1%;
}

/*INIDIV RECIPES*/

.all-tiles {
  margin-top: 80px;
  width: 100%;
}

.recipe-container {
  margin-top: 3%;
  border-radius: 3px;
  height: 200px;
  overflow: hidden;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.col-xs-3 {
  position: relative;
  min-height: 1px;
  float: left;
  width: 30%;
  margin-left:1.5%;
  margin-right: 1.5%;
}

.recipe-container  {
  width: 30%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  max-height: 100%;
}

.recipe-title {
  padding-bottom: 5%;
  height: 20px;
  background: white;
}

.lb-caption {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font: sans-serif;
}
.footer {
  height: 50px
}
/*----------------------------------------------*/
/*-----------    CUSTOM CAPTIONING   -----------*/
/*----------------------------------------------*/
.custom_captioning{
  position: relative;
  overflow: hidden;
}

.custom_captioning:hover .caption{
  opacity: 1;
  transform: translateY(-70px);
  -webkit-transform:translateY(-70px);
  -moz-transform:translateY(-70px);
  -ms-transform:translateY(-70px);
  -o-transform:translateY(-70px);
}
.custom_captioning img{
  z-index: 4;
}
.custom_captioning .caption{
  position: absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
  width: 100%;
}

.custom_captioning .blur{
  background-color: rgba(0,0,0,0.7);
  height: 100px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.custom_captioning .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 0px;
  text-align: center;
  top: -1.5em;
  width: 100%;
}

a.thumbnail:hover {
  border-color: #AAAAA2;
}

.offset_div{
  height: inherit;
  width: inherit;
}

/*----------------------------------------------*/
/*-----------    LOGIN TEMPLATE   -----------*/
/*----------------------------------------------*/

#login-template {
  /*background-image: ("images/coffee.jpg");*/
  /*background-color: red;*/

  height: 100%;
}


#login-template h1 {
  color: #282828;
  font-size: 4.5em;
  font: serif;
  letter-spacing: 3.5px;
  font-weight: 200;
  text-align: center;
  margin-top: 100px;
}

.fb-button-div {

  background: url(http://i.imgur.com/tcVYwG5.png);
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  height: 50px;
  padding: 0;
  /*background-color: blue;*/
}

.fb-button {
  width: 100px;
}

.body-background-image {
  background-position: center;
  background-size: cover;
  background-image: url('coffee.jpg')
}

.lightbox {
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  z-index: 11;
}

.lightbox table{
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
}

.lightbox_caption > * {
  display: inline;
  vertical-align : baseline;
  margin-top: 25px;
}

.lightbox_link_label {
  color: #282828;
  text-decoration: none;
}

.lightbox_link_label h2{
  margin-bottom: -50px;
  margin-top: 40px;
}

.lightbox_link_label:hover{
  color: #323D43;
  text-decoration: underline;
}

.float_left{
  float: center;
  text-align: center;
}


.float_right{
  float: right;
}

.recipe-title{
  margin-left: 3em;
}
/**********STYLING FOR EDIT FORM********/
.custom_editing{
  position: relative;
  overflow: hidden;
}

.custom_editing .edit_form{
  opacity: 1;
  transform: translateY(-500px);
  -webkit-transform:translateY(-500px);
  -moz-transform:translateY(-500px);
  -ms-transform:translateY(-500px);
  -o-transform:translateY(-500px);
  position: absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
  width: 100%;
}

.custom_editing .edit_form_cancel{
  opacity: 1;
  transform: translateY(500px);
  -webkit-transform:translateY(500px);
  -moz-transform:translateY(500px);
  -ms-transform:translateY(500px);
  -o-transform:translateY(500px);
  position: absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
  width: 100%;
}

.custom_editing img{
  z-index: 4;
}
.custom_editing .blur{
  background-color: rgba(251,251,251,0.83);
  height: 500px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.custom_editing .edit_form-text{
  z-index: 10;
  /*color: #fff;*/
  position: absolute;
  height: 800px;
  text-align: center;
  width: 100%;
}

.lightbox_recipe_bg {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 500px;
  width: 800px;
}


#recipe_add_form {
  margin-top: 5%;
}

.recipe_edit_form {
    width: 100%;
    margin: 2% auto;
    margin-top: 20%;
}

.recipe_edit_form > *{
  margin-top: 2%;
}

.recipe_edit_form label, input, select {
    display: inline-block;
    height: 2em;
    /*font-size: 1em;*/
    /*border: 0;*/
}




.recipe_edit_form label {
    width: 30%;
    text-align: right;
    font-size: 1.2em;
}


.recipe_edit_form label + input, .recipe_edit_form label + select {
    width: 30%;
    margin: 0 30% 0 4%;
}



/****BUTTON BUSINESS*****/
.edit_btn {
  background: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #000000);
  background-image: -moz-linear-gradient(top, #808080, #000000);
  background-image: -ms-linear-gradient(top, #808080, #000000);
  background-image: -o-linear-gradient(top, #808080, #000000);
  background-image: linear-gradient(to bottom, #808080, #000000);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 0px 0px #000000;
  font-family: Georgia;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.edit_btn:hover {
  background: #5c5c5c;
  background-image: -webkit-linear-gradient(top, #5c5c5c, #000000);
  background-image: -moz-linear-gradient(top, #5c5c5c, #000000);
  background-image: -ms-linear-gradient(top, #5c5c5c, #000000);
  background-image: -o-linear-gradient(top, #5c5c5c, #000000);
  background-image: linear-gradient(to bottom, #5c5c5c, #000000);
  text-decoration: none;
}





