
<div class="lightbox">
  <div>
   <table>
       <tr>
          <td class="lightbox_recipe_bg">
            <div class="float_left">
              <form ng-submit="addRecipe()" id="recipe_add_form" class="recipe_edit_form">
                <label for="title">Title:</label>
                <input type="text"  ng-model="title" name="recipe[title]" placeholder="Title">
                <br>
                <br>
                <label for="source_url">Recipe:</label>
                <input type="text" class="recipe-source-url thick-txt-bx" ng-model="source_url" name="recipe[source_url]" placeholder="Recipe Url">
                <br>
                <br>
                <label for="img_url">Image:</label>
                <input type="text" class="recipe-img-url thick-txt-bx" ng-model="img_url" name="recipe[img_url]" placeholder="Image Url">
                <br>
                <br>
                <label for="tags">Tags:</label>
                <input type="text" class="recipe-tags thick-txt-bx" ng-model="tags" name="tags" placeholder="i.e. healthy, fast, easy">
                <br>
                <br>
                <select ng-model="category_name" class="categories thick-txt-bx">
                  <option value disabled selected>Select Recipe Category</option>
                  <option value="Appetizers">Appetizers</option>
                  <option value="Beverages">Beverages</option>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Entrees">Entrees</option>
                  <option value="Salads">Salads</option>
                  <option value="Sides">Sides</option>
                </select>
                <br>
                <br>
                <br>
                <br>
                <input type="submit" class="custom_btn" value="Create Pin"></input>
              </form>
            </div>
          </td>
        </tr>
      </table>
    </div>
</div>
