   <div class="lightbox">
              <div>
                <table>
                    <tr>
                      <td>
                        <div class="custom_editing">
                          <div class="lightbox_recipe_bg" style="background-image: url({{recipe.img_url}})"></div>
                           <div class= "edit_form_click">
                            <div class="blur">
                            </div>
                            <div class="edit_form-text">
                              <form class="recipe_edit_form">
                                  <label>Recipe Name</label>
                                  <input class="recipe_name_input" type="text" name="title" value="{{recipe.title}}">
                                  <label>Category</label>
                                  <select ng-init="recipe.category_id = recipe.category_id" ng-model="recipe.category_id" ng-options="recipe.category_id as recipe.name for recipe in myForm.options" class="categories thick-txt-bx">
                                  </select><br>
                                  <label>Tags</label>
                                  <input class="tag_input" name="tag_string" value="{{recipe.tag_string}}">
                                  </form>
                                 <button ng-click="saveRecipe(recipe.id)" class="custom_btn">Save</button>
                                 <button ng-click="deleteRecipe(recipe.id)" class="custom_btn" value="Delete">Delete</button>
                                <button ng-click="cancelEdit()" class="custom_btn">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="lightbox_caption">
                        <div class="float_left">
                          <a  class="lightbox_link_label" href= "{{recipe.source_url}}"  target="_blank"><h2 class="recipeTitle">{{recipe.title}}</h2></a>

                        </div>
                        <div class="float_right" >
                          <button class="edit_btn" ng-click="editPin(); showEdit=true">Edit</button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>

