body, html{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  /*background-color: yellow;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding-top: 0px
}


/*HEADER***********************************/

.main-header{
    background-color: #282828 ;
    width: 100%;
    position: fixed;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid;
    z-index: 1030;
    margin-top: -45px;
}
.main-header h1 {
  color: white;
  font-size: 1em;
  margin-left: 17%;
  letter-spacing: 3px;
  font-weight: 200;
}

.logo-pic {
  width: 80px;
}

.logo{
  margin-left: -1%;
  margin-top: 5px;
  float: left;
  font-size: 1.5em;
  /*background-color: yellow;*/
}

.search-bar {
  /*background-color: green;*/
  /*margin-left: 15px;
  margin-right: auto;*/
  margin-right: 30%;
  margin-left: 40%;
  margin-top: 15px;
}

.search-text {
  width: 300px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 7px 0 5px 5px;
  font-size: 1em;
}



/*OVERALL WRAP FOR NON-HEADER***************/
.wrap {
  /*background-color: yellow;*/
  padding: 30px;
  width: 100%;
  margin: auto;
  margin-top: 45px;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  z-index:5;
  overflow:auto;
  /*background-color: blue;*/
    /*-moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

.sidebar {
  float: left;
  width: 13%;
  position: fixed;
  overflow: hidden;
  color: white;
  margin-left: -1%;
  margin-top: 10%;
  margin-top: 10px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;

}

.sidebar-list {
  list-style: none;
  width: 89%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-left: -10px;
}

.sidebar-list li {
  text-align: center;
  /*background-color: green;*/
  margin-left: -50px;
  border-bottom: 1px solid black;
  border-radius: 2px;
  padding-right: 0px;
  margin-top: 0px;
  padding: 10px 0px 10px 15px;
  text-align: center;
}

.sidebar-list li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: -10px;
}

.sidebar ul li:hover {
  background-color: #282828;
  border-radius: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar ul li:hover a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: -10px;
}

.new-pin-button{
  text-align: center;
  background-color: #008A2E;
  margin-left: 30px;
  margin-right: auto;
  border: 1px solid #008A2E;
  margin-top: 5px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.new-pin-input {
  width: 150px;
  margin-left: 8px;
  color: black;
}

.category-dropdown {
  color: black;
  /*background-color: black;*/
}

/*MAIN CONTENT****************/
.content {
    overflow:auto;
    margin-left: 13%;
    /*background-color: blue;*/
}

/*INIDIV RECIPES*/

.all_tiles {
  margin: 2%;
}

.recipe-container {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
}

.col-xs-3 {
  position: relative;
  min-height: 1px;
  float: left;
  width: 30%;
  margin-left:3%;
}



/*.recipe-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;

}*/

.recipe-container img {
   width: 100%;
    height: 35em;

    object-fit: cover;
    overflow: hidden;
  /*width: 100%;*/
  /*max-height: 100%*/
  max-width: 100%;
    height: auto;
  /*object-fit: contain;*/
}

.recipe-title {
  padding-bottom: 5%;
  height: 20px;
  background: white;
}

.lb-caption {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font: sans-serif;
}

/*----------------------------------------------*/
/*-----------    CUSTOM CAPTIONING   -----------*/
/*----------------------------------------------*/
.custom_captioning{
  position: relative;
  overflow: hidden;
}

.custom_captioning:hover .caption{
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform:translateY(-150px);
  -moz-transform:translateY(-150px);
  -ms-transform:translateY(-150px);
  -o-transform:translateY(-150px);
}
.custom_captioning img{
  z-index: 4;
}
.custom_captioning .caption{
  position: absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
  width: 100%;
}

.custom_captioning .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.custom_captioning .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}

a.thumbnail:hover {
  border-color: #AAAAA2;
}



