body, html{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.hidden-div {
  display: none;
}

.main-container {
  width: 100%;
  height: 100%;
  /*background-color: yellow;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  padding-top: 0px
}


/*HEADER***********************************/

.main-header{
  background-color: #282828 ;
  width: 100%;
  position: fixed;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  z-index: 1030;
  margin-top: -45px;
  height: 100px;
}

.logo {
  margin-left: 2%;
  margin-top: 60px;
  float: left;
  font-size: 1.5em;
  /*background-color: yellow;*/
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font: serif;
  letter-spacing: 3px;
  font-weight: 200;
}

.masthead-nav {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 40px 1% 0 0;
  /*background-color: red;*/
  padding: 0;
}

.masthead-nav > li {
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 10px;
  /*background-color: yellow;*/
  margin-top: 0px;
}
.search-bar {
  /*background-color: green;*/
  margin: 15px 0 0 0;
}

.search-text {
  width: 300px;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 7px 0 5px 5px;
  font-size: 1em;
}

.masthead-nav li a {
  /*background-color: yellow;*/
  text-decoration: none;
  color: white;
  font-size: 1em;
  font: serif;
  letter-spacing: 2px;
  font-weight: 300;
}
.masthead-nav li a:hover {
  color: white;
  text-decoration: underline;
}
/*.logout h2 {
  color: white;
  font-size: 1em;
  font-weight: 200;
}*/



/*OVERALL WRAP FOR NON-HEADER***************/
.wrap {
  /*background-color: blue;*/
  /*padding: 30px;*/
  width: 100%;
  position: relative;
  z-index:5;
  overflow:auto;
}

.sidebar {
  /*background-color: red;*/
  float: left;
  width: 13%;
  position: fixed;
  overflow: hidden;
  color: white;
  margin-left: -1%;
  /*margin-top: 10%;*/
  margin-top: 10px;
  /*min-height: 1px;*/
  padding-left: 15px;
  padding-right: 15px;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-list {
  list-style: none;
  width: 89%;
  /*border-top: 1px solid black;
  border-right: 1px solid black;*/
  margin-left: -10px;
}

.sidebar-list li {
  text-align: center;
  /*background-color: green;*/
  margin-left: -50px;
  /*border-bottom: 1px solid black;*/
  border-radius: 2px;
  padding-right: 0px;
  margin-top: 0px;
  padding: 10px 0px 10px 15px;
  text-align: center;
}

.sidebar-list li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: -10px;
}

.sidebar ul li:hover {
  background-color: #282828;
  border-radius: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar ul li:hover a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: -10px;
}

.new-pin-button{
  text-align: center;
  background-color: #008A2E;
  margin-left: 30px;
  margin-right: auto;
  border: 1px solid #008A2E;
  margin-top: 5px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.new-pin-input {
  width: 150px;
  margin-left: 8px;
  color: black;
}

.category-dropdown {
  color: black;
}

/*MAIN CONTENT****************/
.content {
    overflow:auto;
    margin-left: 15%;
    margin-right: 1%;
}

/*INIDIV RECIPES*/

.all-tiles {
  margin-top: 80px;
  width: 100%;
}

.recipe-container {
  border: 1px solid black;
  margin-top: 3%;
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
}

.col-xs-3 {
  position: relative;
  min-height: 1px;
  float: left;
  width: 30%;
  margin-left:3%;
}

.recipe-container  {
  width: 30%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  max-height: 100%;
}

.recipe-title {
  padding-bottom: 5%;
  height: 20px;
  background: white;
}

.lb-caption {
  text-align: center;
  display: block;
  font-size: 1.5em;
  font: sans-serif;
}
.footer {
  height: 50px
}
/*----------------------------------------------*/
/*-----------    CUSTOM CAPTIONING   -----------*/
/*----------------------------------------------*/
.custom_captioning{
  position: relative;
  overflow: hidden;
}

.custom_captioning:hover .caption{
  opacity: 1;
  transform: translateY(-60px);
  -webkit-transform:translateY(-60px);
  -moz-transform:translateY(-60px);
  -ms-transform:translateY(-60px);
  -o-transform:translateY(-60px);
}
.custom_captioning img{
  z-index: 4;
}
.custom_captioning .caption{
  position: absolute;
  -webkit-transition:all 0.1s ease-in-out;
  -moz-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
  width: 100%;
}

.custom_captioning .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.custom_captioning .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}

a.thumbnail:hover {
  border-color: #AAAAA2;
}

.offset_div{
  height: inherit;
  width: inherit;
}

/*----------------------------------------------*/
/*-----------    LOGIN TEMPLATE   -----------*/
/*----------------------------------------------*/

#login-template {
  background-image: ("/assets/images/coffee.jpg");
  /*background-color: red;*/
}


#login-template h1 {
  color: #282828;
  font-size: 4.5em;
  font: serif;
  letter-spacing: 3.5px;
  font-weight: 200;
  text-align: center;
  margin-top: 100px;
}

.fb-button-div {
  margin-right: auto;
  margin-left: auto;
  width: 80px;
  padding: 0;
  /*background-color: green;*/
}

.fb-button {
  width: 100px;
}

.body-background-image {
  background-position: center;
  background-size: cover;
  background-image: url('coffee.jpg')
}