<!DOCTYPE html>
<html ng-app="chefboard">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>chefboard</title>
  <link href="css/application.css" rel="stylesheet" type="text/css">
  <script src="javascripts/angular.js"></script>
  <script src="javascripts/angular-route.js"></script>
  <script src="javascripts/ngDialog.js"></script>
  <script src="javascripts/jquery-1.11.0.min.js"></script>
  <script src="javascripts/lightbox.min.js"></script>
  <script src="javascripts/ui-bootstrap-tpls-0.11.2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/ngDialog.css">
</head>
<body>
<!-- FACEBOOK SDK -->
  <script>

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>
<div id="fb-root"></div>

<div ng-view>
</div>



  <script src="javascripts/application.js"></script>
  <script src="javascripts/config.js"></script>
  <script src="javascripts/controllers/dashboard.js"></script>
  <script src="javascripts/controllers/login.js"></script>
</body>
</html>

