<!DOCTYPE html>
<html ng-app="Chefboard" ng-controller="BoardController" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>chefboard</title>
  <script src="assets/ui-bootstrap-tpls-0.11.2.js"></script>
  <script src="assets/ngDialog.js"></script>
  <script src="assets/angular.js"></script>
  <script src="assets/jquery-1.11.0.min.js"></script>
  <script src="assets/lightbox.min.js"></script>
  <script src="assets/facebook.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/application.css" rel="stylesheet" type="text/css">
  <link href="assets/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="assets/ngDialog.css">
</head>
<body>
<!-- FACEBOOK SDK -->
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

<div ng-view>
</div>



  <script src="assets/application.js"></script>
  <script src="assets/config.js"></script>
  <script src="assets/controllers/dashboard.js"></script>
  <script src="assets/controllers/login.js"></script>
</body>
</html>

